@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

body {
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btc-ticker {
  font-family: "Share Tech Mono";
  font-size: 100px;
  align-self: center;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: "Share Tech Mono";
  font-weight: 400;
  margin-top: 2em;
  text-align: center;
  line-height: 2em;
}

.sub-subtitle {
  font-family: "Share Tech Mono";
  font-weight: 400;
  font-size: 10px;
  margin-top: 5em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

img {
  max-height: 300px;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-0 {
  animation-delay: 1s;
}

.fade-1 {
  animation-delay: 2.5s;
}

.fade-2 {
  animation-delay: 4s;
}

.fade-3 {
  animation-delay: 5.5s;
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
