@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");

body {
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btc-ticker {
  font-family: "Share Tech Mono";
  font-size: 100px;
  align-self: center;
}
