@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btc-ticker {
  font-family: "Share Tech Mono";
  font-size: 100px;
  align-self: center;
}

.about-link {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 42px;
  width: 42px;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.main-page-link {
  animation-delay: 6s !important;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.info-box {
  /* border: 2px solid #ababab; */
  border-radius: 12px;
  width: 400px;
  height: 300px;
  margin: 2em;
  font-family: "Jost";
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  opacity: 0;
  animation-name: slide-in-right;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.info-box-0 {
  /* border: 2px solid #ababab; */
  border-radius: 12px;
  width: 400px;
  height: 300px;
  margin: 2em;
  font-family: "Jost";
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  opacity: 0;
  animation-name: slide-in-right;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.info-box-1 {
  /* border: 2px solid #ababab; */
  border-radius: 12px;
  width: 400px;
  height: 300px;
  margin: 2em;
  font-family: "Jost";
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  opacity: 0;
  animation-name: slide-in-right;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.info-box-2 {
  /* border: 2px solid #ababab; */
  border-radius: 12px;
  width: 400px;
  height: 300px;
  margin: 2em;
  font-family: "Jost";
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  opacity: 0;
  animation-name: slide-in-right;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.info-box-3 {
  /* border: 2px solid #ababab; */
  border-radius: 12px;
  width: 400px;
  height: 300px;
  margin: 2em;
  font-family: "Jost";
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  opacity: 0;
  animation-name: slide-in-right;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.card-titles {
  font-family: "Share Tech Mono";
  font-weight: 400;
}

.subtitle {
  font-family: "Share Tech Mono";
  font-weight: 400;
  margin-top: 2em;
  text-align: center;
  line-height: 2em;
}

.sub-subtitle {
  font-family: "Share Tech Mono";
  font-weight: 400;
  font-size: 10px;
  margin-top: 5em;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

img {
  max-height: 300px;
}

.slide-out-right {
  /* -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; */
  /* animation: slide-out-right 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; */
  animation: slide-out-right 1s ease both;
  animation-delay: 8s;
}

.slide-in-left {
  /* -webkit-animation: slide-in-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; */
  /* animation: slide-in-left 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; */
  animation: slide-in-left 1s ease both;
  animation-delay: 2s;
}

/* 404 */
.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-0 {
  animation-delay: 1s;
}

.fade-1 {
  animation-delay: 2.5s;
}

.fade-2 {
  animation-delay: 4s;
}

.fade-3 {
  animation-delay: 5.5s;
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
